*.pdf
*.txt
/test_script.py
/EMODB Database/lablaut/
/EMODB Database/labsilb/
/EMODB Database/silb/
/RAVDESS_OriginalDataset/
/RAVDESS/
/rn50SavedParams-RAVDESS/
/rn50SavedParams-EMODB/
/split_test.py
/EMODB-bestParams.pt
/RAVDESS-bestParams.pt
# ignore all saved paramter state_dicts
*.pt